*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    border-radius: 12px;
    background: #FD6E0A;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px;
    padding: 18px 36px;  
}
.btn-primary:hover {
    background-color:#1d0c01;
    transition: 0.5s;
}
/* Header & Navigation Styles */
.header{
    background-image: url(/images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-color: #FFF8F3;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
    font-size: 17px;
    font-weight: 600;
}
nav .nav-logo{
    font-weight: 800;
    font-size: 45px;
}

/* Banner Styles */
.banner{
    display: flex;
    margin:0 200px;
    align-items: center;
}
.banner-title{
    color: #000000;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-sub-title{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-description{
    color: #000000;
    font-size: 18px;
    margin-bottom: 30px;
}
/* Main Section  */
main{
    max-width: 1420px;
    margin: 0 auto;
}
/* About Section Style  */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;

}
.section-description{
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.info-title{
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.info-description{
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
/* What I Do Section  */
.service{
    margin-top: 150px;
}
.service-heading h1{
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}
.service-heading p{
    font-size: 18px;
    text-align: center;
    color: rgb(68, 68, 68);
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 25px;
}
.service-box{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    padding: 50px 70px;
    
}
.service-box div{
    padding: 40px;
    box-shadow: 10px 10px 40px rgb(156, 155, 155);
    border-radius: 20px;
}
.service-box div img{
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}
.service-box div p{
    margin-top: 10px;
}

/* Summary Section  */

.summary{
    margin-top: 150px;
    text-align: center;
}
.summary a{    
    text-decoration: none;
}
.summary h1{
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.5px;
}
.main-row{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.left-row{
    padding: 40px;
    margin: 0px 80px;
}
.right-row{
    padding: 40px;
    margin: 0px 80px;
}
.main-row h2{
    font-size: 30px;
    text-align: left;
    letter-spacing: 0.5px;
    margin-bottom: 70px;
}
.main-row h3{
    font-size: 24px;
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 5px;
}
.main-row h4{
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.5px;
    /* line-height: 20px; */
    margin-top: 25px;
    margin-bottom: 30px;
    color: dimgray;
}
.main-row p{
    font-size: 16px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
    margin-bottom: 50px;
}

.main-row span{
    border-bottom: 0.5px solid dimgray;
}